@import "tailwindcss";

@theme {
  --font-serif: "Nanum Myeongjo", serif;
  --color-paper: #f4f1ea;
  --color-ink: #2c2a29;
}

body {
  font-family: var(--font-serif);
  background-color: var(--color-paper);
  color: var(--color-ink);
}
